<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.avtoConnectionString"
            connectionString="server=localhost;user id=root;database=avto"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.eventsConnectionString"
            connectionString="server=localhost;user id=root;database=events"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>